*{
    margin: 0;
    padding: 0;
    font-family: system-ui;
}

body{
    /* background-image: url('../img/img\ planta\ fundo.PNG');
    background-size: cover;
    background-position: center; */
    background-color: beige;
} 

#titulo-contato {
    margin-top: 20px; 
    text-align: center;
}

.contact-us-content-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-us-content-container .contact-us-card {
    margin-right: 20px;
    text-align: center;
    text-decoration: none;
    color:black;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 35px;
}

.contact-us-content-container .contact-us-card:last-child {
    margin-right: 0;
}

.contact-us-content-container .contact-us-card img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

header {
    background-color: rgb(9, 60, 30);
    width: 100%;
    height: 80px;
}

header h1 {
    margin: 10px;
    color: white;
    font-family: system-ui;
}

#logo-empresa {
    height: 74px;
    width: 70px;
}

header li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    font-family: system-ui;
    text-transform: capitalize;
    padding: 20px;
}

.cabecalho {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: x;
}

.logo-titulo {
    display: flex;
    align-items: center;
}

header ul {
    display: flex;
    list-style-type: none;
}

header ul li {
    margin: 10px;
}

a:hover {
    color: #8DC63E;
}


footer{
    width: 100%;
    background-color: rgb(9, 60, 30);
    color: white;
    bottom: 0px;
    margin-bottom: 0px;
    position: absolute;

}
.imgfooter{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

#pfooter{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: system-ui;
    font-weight: bold;
}
