* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: beige;
}

header {
    background-color: rgb(32, 92, 56);
    width: 100%;
    height: 120px;
}

#logo-empresa {
    height: 119px;
    width: 123;
}

li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    font-family: system-ui;
    text-transform: capitalize;
    padding: 20px;
}

.cabecalho {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
    margin-top: 45px;
}

a:hover {
    color: #8DC63E;
}

body {
    font-family: 'Times New Roman', Times, serif;
    background-color: beige;
    color: #333;
}

header {
    color: #fff;
    text-align: center;
    padding: 20px ;
}

h1 {
    font-size: 36px;
}


.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-top: 20px;
}

p {
    line-height: 1.6;
}

.container ul {
    margin-top: 10px;
}

.container ul li {
    margin-bottom: 5px;
}

.image-container img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-top: 20px;
}