* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-image: url("../img/grama.jpg");
    background-size: cover;
    background-position: center;

}

header {
    background-color: rgb(9, 60, 30);
    width: 100%;
    height: 80px;
}

header h1 {
    margin: 10px;
    color: white;
    font-family: system-ui;
}

#logo-empresa {
    height: 74px;
    width: 70px;
}

header li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    font-family: system-ui;
    text-transform: capitalize;
    padding: 20px;
}

.cabecalho {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: x;
}

.logo-titulo {
    display: flex;
    align-items: center;
}

header ul {
    display: flex;
    list-style-type: none;
}

header ul li {
    margin: 10px;
}

a:hover {
    color: #8DC63E;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #2E8B57;
    margin-top: 20px;
}

p {
    line-height: 1.6;
    margin-top: 10px;
    display: inline-block;
    padding: 10px;

}

.container ul {
    margin-top: 10px;
    padding-left: 20px;

}

.container ul li {
    margin-bottom: 5px;
}

.image-container {
    text-align: center;
    margin-top: 20px;
}

.image-container img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

footer {
    width: 100%;
    background-color: rgb(9, 60, 30);
    color: white;
}

.imgfooter {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

#pfooter {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: system-ui;
    font-weight: bold;
}


