*{
    margin: 0;
    padding: 0;
    font-family: system-ui;
}

header{
    background-color: rgb(9, 60, 30);
    width: 100%;
    height: 80px;
}

header h1{
    margin: 10px;
    color: white;
    font-family: system-ui;
}

#logo-empresa{
    height: 74px;
    width: 70px;
}

header li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    font-family: system-ui;
    text-transform: capitalize;
    padding: 20px;
}

.cabecalho{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo-titulo{
    display: flex;
    align-items: center;
}

header ul{
    display: flex;
    list-style-type: none;
}

header ul li{
    margin: 10px;
}

a:hover{
    color: #8DC63E;
}

/* ---------------------------------------------------------------------------------------------------------------------------------- */

main h2{
    color: #2E8B57;
}

#secao1 h2{
    text-align: center;
    margin-bottom: 10px;
}

main p{
    line-height: 1.6;
    text-align: center;
}

.secao{
    height: 100vh;
}

#secao1{
    background-image: url(../img/irrigação-imagem.png);
    background-size: cover;
    background-position: center;
}

#secao1 p{
    color: white;
}

#secao1 img{
    height: 354px;
    width: 350px;
    margin-top: 15px;
}

.image-container {
    display: flex;
    justify-content: center;
    
}

/* --------------------------------------------------------------------------------------------------------------------------------- */

/* footer{
    background-color: rgb(32, 92, 56);
    color: white;
    position: static;
    width: 100%;
    height: 60px;
}

.container-footer{
    text-align: center;
}

#siga-nos{
    font-size: 18px;
    margin-bottom: 10px;
}

.social-icons a{
    display: inline-block;
    margin: 10px;
}

.social-icons img{
    height: 30px;
}

#imagem-insta{
    height: 40px;
} */

footer{
    width: 100%;
    background-color: rgb(9, 60, 30);
    color: white;

}
.imgfooter{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

#pfooter{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: system-ui;
    font-weight: bold;
}