* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-color: beige;
}

header {
    background-color: rgb(32, 92, 56);
    width: 100%;
    height: 120px;
}

#logo-empresa {
    height: 119px;
    width: 123;
}

li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    font-family: system-ui;
    text-transform: capitalize;
    padding: 20px;
}

.cabecalho {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
    margin-top: 45px;
}

a:hover {
    color: #8DC63E;
}

/* ---------------------------------------------------------------------------------------------------------------------------------- */

footer {
    background-color: rgb(32, 92, 56);
    color: white;
    padding: 20px;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
}

.container-footer {
    margin: auto;
    text-align: center;
}

#siga-nos {
    font-size: 18px;
    margin-bottom: 10px;
}

.social-icons a {
    display: inline-block;
    margin: 10px;
}

.social-icons img {
    height: 30px;
}

#imagem-insta {
    height: 40px;
}