*{
    margin: 0;
    padding: 0;
}

#titulo{
    text-decoration: none;
}

body{
    background-color: rgba(206, 206, 201, 0.473);
}

#titulo-contato {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 40px;
}

.contact-us-content-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-us-content-container .contact-us-card {
    margin-right: 20px;
    text-align: center;
    text-decoration: none;
    color: #333;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-us-content-container .contact-us-card:last-child {
    margin-right: 0;
}

.contact-us-content-container .contact-us-card img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

header {
    background-color: rgb(9, 60, 30);
    width: 100%;
    height: 80px;
}

.logo-titulo {
    display: flex;
    align-items: center;
}

#logo-empresa {
    height: 74px;
    width: 70px;
}

header li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    font-family: system-ui;
    text-transform: capitalize;
    padding: 20px;
}
.cabecalho {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: x;
}

header ul {
    display: flex;
    list-style-type: none;
}

header ul li {
    margin: 10px;
}

a:hover {
    color: #8DC63E;
}

header h1 {
    margin: 10px;
    color: white;
    font-family: system-ui;
}

footer{
    width: 100%;
    background-color: rgb(9, 60, 30);
    color: white;
    bottom: 0;
    margin-bottom: 0px;
    position: absolute;
}
.imgfooter{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

#pfooter{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: system-ui;
    font-weight: bold;
    margin: 0 !important;
}

main{
    height: 70vh;
}