*{
    margin: 0;
    padding: 0;
}

body {
    background-color: beige;
}

header {
    background-color: rgb(9, 60, 30);
    width: 100%;
    height: 80px;
}

#titulo{
    text-decoration: none;
}

.logo-titulo {
    display: flex;
    align-items: center;
}

#logo-empresa {
    height: 74px;
    width: 70px;
}

header li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    font-family: system-ui;
    text-transform: capitalize;
    padding: 20px;
}
.cabecalho {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: x;
}

header ul {
    display: flex;
    list-style-type: none;
}

header ul li {
    margin: 10px;
}

a:hover {
    color: #8DC63E;
}

header h1 {
    margin: 10px;
    color: white;
    font-family: system-ui;
}


#titulo-contato {
    text-align: center;
    margin: 2rem 0;
}

#titulo-contato h1 {
    font-size: 2.5rem;
    color: rgb(9, 60, 30);
}


.contact-us-content-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 0 2rem;
}

.contact-us-card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    text-align: center;
    width: 250px;
    transition: transform 0.3s, box-shadow 0.3s;
    text-decoration: none;
    color: inherit;
}

.contact-us-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.contact-us-card img {
    border-radius: 50%;
    width: 170px;
    height: 170px;
    object-fit: cover;
    margin-bottom: 1rem;
}

.contact-us-card strong {
    display: block;
    margin: 0.5rem 0;
    font-size: 1.5rem;
}

.contact-us-card p {
    font-size: 1rem;
    color: #777;
}

footer{
    width: 100%;
    background-color: rgb(9, 60, 30);
    color: white;
    bottom: 0;
    margin-bottom: 0px;
    position:relative;
}
.imgfooter{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

#pfooter{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: system-ui;
    font-weight: bold;
    margin: 0 !important;
}

