* {
    margin: 0;
    padding: 0;
}

body {
    background-color: beige;
}

header {
    background-color: rgb(9, 60, 30);
    width: 100%;
    height: 120px;
}

#logo-empresa {
    height: 119px;
    width: 123;
}

li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    font-family: system-ui;
    text-transform: capitalize;
    padding: 20px;
}

.cabecalho {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
    margin-top: 45px;
}

a:hover {
    color: #8DC63E;
}


body {
    background-color: rgb(244, 244, 241);
}



#logo-header {
    width: 123px;
    height: 119px;
}

header a {
    text-decoration: none;
    color:white;
}

#informacoes-cabecalho {
    display: flex;
    justify-content: space-between;
    text-align: center;
}


#projeto {
    background-color: white;
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

#projeto h2,
#projeto2 h2 {
    color: #1c913f;
    margin-bottom: 10px;
}

#imagensproduto1 {
    text-align: center;
    margin-bottom: 20px;
}

#imagensproduto1 img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 15px;
    background-color: white;
}

#projeto2 {
    background-color: white;
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 400px;
}

p {
    text-align: justify;
}